@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    color: white;
    font-family: inter;
}

/* Header Section */
header{
    width: auto;
    height: 951px;
    background: linear-gradient(0deg, rgb(0, 0, 0),rgba(124, 124, 124, 0.34) 100%);
    border: 2px solid black;
}
/* Nav-Bar */
nav{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 57px;
    /* border: 2px solid wheat; */
}
.nav-logo{
    font-size: 47.88px;
    font-weight: 800;
    color: rgb(230, 83, 60);
}
.nav-opt{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    padding-right: 25px;
    gap: 40px;
    font-size: 24px;
    font-weight: 400;
    box-sizing: border-box;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    height: 60px;
}
.home{
    width: 123px;
    height: 51px;
    font-weight: 600;
    padding: 10.64px 26.6px 10.64px 26.6px;
    border-radius: 46px;
    background: rgb(230, 83, 60);
    margin-left: 3.5px;
}

/* Hero-section */
.hero-container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.hero-txt{
    width: 691.6px;
    height: 585.2px;
}
.hero-txt h1{
    font-family: Inter;
    font-size: 103px;
    font-weight: 900;
    line-height: 120%;
    text-align: left;
    margin-bottom: 28px;
}
.shape{
    font-family: 'Miama', sans-serif;
    font-size: 203px;
    font-weight: 400;
}
.hero-txt p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 21.28px;
    font-weight: 400;
    text-align: left;
    margin-bottom: 28px;
}
/* hero butons */
.join{
    width: 297.92px;
    height: 71.82px;
    padding: 16px 40px 16px 40px;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
}
.download{
        width: 297.92px;
        height: 71.82px;
        padding: 16px 40px 16px 40px;
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 24px;
        font-weight: 600;
        box-sizing: border-box;
        border: 2px solid rgb(255, 255, 255);
        border-radius: 42px;
        background-color: transparent;

}

/* hero-img */
.hero-img{
    background-image:linear-gradient(0deg,black,transparent 10%), url(images/Images\ 2.png);
    background-size: cover;
    width: 464.17px;
    height: 771.4px;
    position: relative;
    left: -60px;
}
.vdo-tutorial{
    width:273.98px;
    height: 127.68px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(10px);
    background: rgba(48, 48, 48, 0.54);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 550px;
    left: -150px;
}
.circle-play{
    font-size: 50px;
    color: rgb(230, 83, 60);
    border-radius: 50%;
    margin-right: 10px;
}
.vdo-description{
    width: 143.64px;
    height: 74.48px;
    text-align: left;
}
.watch-count{
    color: rgb(250, 250, 249);
    font-family: Inter;
    font-size: 31.92px;
    font-weight: 900;
    margin-bottom: 20px;
}
.tutorial{
    color: rgba(239, 237, 232, 0.65);
    font-family: Inter;
    font-size: 21.28px;
    font-weight: 400;
    line-height: 24px;
}
.workout-vdo{
    /* width:246.69px; */
    height: 130.34px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.1);
    text-align: left;
    padding: 0px 30px;
    position: absolute;
    top: 165px;
    right: -90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1px;
}
.watch-count-2{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 53px;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: 2px;
}
.workout-video{
    color: rgba(255, 255, 255, 0.65);
    font-family: Inter;
    font-size: 17.29px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1px;
}

/* Habit section */
.habit-container{
    margin: 0 auto;
    width: 80%;
    height: 601.16px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    margin-bottom: 100px;
}
.habit-title{
    width:872.43px;
    height: 159.6px;
    text-align: center;

}
.habit-title h1{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 63.84px;
    font-weight: 900;
    margin-bottom: 14px;
}
.habit-title p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 18.62px;
    font-weight: 400;
}
.to-do{
    width: 100%;
    height: 364.42px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.to-do >div{
    width: 307.23px;
    height: 364.42px;
    text-align: center;
}
.to-do>div>img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-bottom: 30px;
}
.to-do>div>h1{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 6px;
}
.to-do>div>p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 18.62px;
    font-weight: 400;
}
/* mile section */
.mile-container{
    margin: 0 auto;
    width: 80%;
    height: 493.43px;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    margin-bottom: 100px;
}
.mile-description{
    width: 589.1px;
    height: 385.7px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    position: absolute;
    left: 80px;
}
.mile-description h1{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 63.84px;
    font-weight: 900;
}
.mile-description p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 18.62px;
    font-weight: 400;
    letter-spacing: 0.3px;
    line-height: 30px;
    margin-top: -10px;
}
.mile-description button{
    width: 297.92px;
    height: 71.82px;
    padding: 16px 40px 16px 40px;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
}
.mile-img>img{
    position: absolute;
    width: 486.78px;
    height: 414.96px;
    border-radius: 18px;
    top: 43px;
    right: 43px;
}
/* Training & exercises section */

.trainig-exercises{
    width: 80%;
    height: 772.73px;
    margin: 0 auto;
}
.training-title{
    text-align: left;
    width: 892.43px;
    margin-bottom: 60px;
}
.training-title h1{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size:63.84px;
    font-weight: 900;
    line-height: 120%;
    margin-bottom: 15px;;
}
.training-title p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 18.62px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
}
.row-1{
    width: 100%;
    height:267px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 0.45fr 1fr 0.50fr;
    gap: 0;
}
.row-1 div{
    background-size: cover;
    position: relative;
}
.img1{
    background-color: aquamarine;
    background-blend-mode: multiply;
}
.img1 p{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18.62px;
    font-weight: 500;
    position: absolute;
    bottom: 30px;
    left: 25px;
}
.img2{
    background-color: rgba(253, 55, 88, 0.592);
    background-blend-mode: multiply;
    background-position:0% 60%;
}
.img2 p{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18.62px;
    font-weight: 500;
    position: absolute;
    top: 30px;
    left: 25px;
}
.img3{
    background-color: rgba(0, 0, 0, 0.326);
    background-blend-mode: multiply;
    background-position:40% 100%;
}
.img3 p{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18.62px;
    font-weight: 500;
    position: absolute;
    bottom: 30px;
    left: 25px;
}
.row-2{
    width: 100%;
    height:267px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 0.60fr 0.70fr;
    gap: 0;
}
.row-2 div{
    background-size: cover;
    position: relative;
}
.img4{
    background-color: rgba(0, 0, 0, 0.558);
    background-blend-mode: multiply;
    background-position:0% 40%;
}
.img4 p{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18.62px;
    font-weight: 500;
    position: absolute;
    top: 30px;
    right: 25px;
}
.img5{
    background-color: rgba(85, 255, 0, 0.463);
    background-blend-mode: lighten;
    background-position:0% 60%;
}
.img5 p{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18.62px;
    font-weight: 500;
    position: absolute;
    bottom: 30px;
    left: 25px;
}
.img6{
    background-color: rgba(0, 34, 255, 0.526);
    background-blend-mode: multiply;
    background-position:40% 100%;
}
.img6 p{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18.62px;
    font-weight: 500;
    position: absolute;
    bottom: 30px;
    left: 25px;
}