@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');

*{
    margin: 0;
    padding: 0;
    border: border-box;
}
body{
    background-color: black;
    color: white;
    font-family: inter;
}

/* Header Section */
header{
    max-width: 100%;
    height: auto;
    margin-bottom: 30px;
    background: linear-gradient(0deg, rgb(0, 0, 0),rgba(124, 124, 124, 0.34) 100%);
    border: 1px solid rgb(0, 0, 0);
}
/* Nav-Bar */
nav{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 57px;
    margin-bottom: 32px;
}
.nav-logo{
    font-size: 38.88px;
    font-weight: 1200;
    color: rgb(230, 83, 60);
    font-style: italic;
}
.nav-opt{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    padding-right: 25px;
    font-size: 24px;
    font-weight: 400;
    box-sizing: border-box;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    height: 60px;
}
.nav-opt p{
    margin-right: 46px;
}
.nav-opt>.about{
    margin-right: 0;
    padding: 0px 20px;
}
.home{
    width: 123px;
    height: 51px;
    font-weight: 600;
    padding: 10.64px 26.6px 10.64px 26.6px;
    border-radius: 46px;
    background: rgb(230, 83, 60);
    margin-left: 3.5px;
}
.menu-icon{
    display: none;
}
/* Hero-section */
.hero-container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.hero-txt{
    max-width: 691.6px;
    height: 585.2px;
}
.hero-txt h1{
    font-family: Inter;
    font-size: 103px;
    font-weight: 900;
    line-height: 120%;
    text-align: left;
    margin-bottom: 28px;
}
.shape{
    font-family: 'Miama', sans-serif;
    font-size: 203px;
    font-weight: 400;
}
.hero-txt p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 21.28px;
    font-weight: 400;
    text-align: left;
    margin-bottom: 28px;
}
/* hero butons */
.hero-buttons{
    display: flex;
    gap: 14px;
}
.join{
    max-width: 297.92px;
    height: 71.82px;
    padding: 0px 40px 0px 40px;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
}
.download{
        max-width: 297.92px;
        height: 71.82px;
        padding: 0px 40px 0px 40px;
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 24px;
        font-weight: 600;
        box-sizing: border-box;
        border: 2px solid rgb(255, 255, 255);
        border-radius: 42px;
        background-color: transparent;

}

/* hero-img */
.hero-img{
    background-image:linear-gradient(0deg,black,transparent 10%), url(images/Images\ 2.png);
    background-size: cover;
    width: 464.17px;
    height: 771.4px;
    position: relative;
    left: -60px;
}
.vdo-tutorial{
    padding: 20px 23px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(10px);
    background: rgba(48, 48, 48, 0.54);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 550px;
    left: -150px;
}
.circle-play{
    font-size: 50px;
    color: rgb(230, 83, 60);
    border-radius: 50%;
    margin-right: 10px;
}
.vdo-description{
    text-align: left;
}
.watch-count{
    color: rgb(250, 250, 249);
    font-family: Inter;
    font-size: 31.92px;
    font-weight: 900;
    display: block;
}
.tutorial{
    color: rgba(239, 237, 232, 0.65);
    font-family: Inter;
    font-size: 21.28px;
    font-weight: 400;
    line-height: 24px;
    display: block;
    margin-top: 5px;
}
.workout-vdo{
    height: auto;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.1);
    text-align: left;
    padding: 26px 30px;
    position: absolute;
    top: 165px;
    right: -90px;
    gap: 1px;
}
.watch-count-2{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 53px;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: 2px;
    display: block;
}
.workout-video{
    color: rgba(255, 255, 255, 0.65);
    font-family: Inter;
    font-size: 17.29px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1px;
    margin-top: 10px;
    display: block;
}

/* Habit section */
.habit-container{
    margin: 0 auto;
    width: 80%;
    height: 601.16px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    margin-bottom: 100px;
}
.habit-title{
    width:872.43px;
    height: 159.6px;
    text-align: center;
}
.habit-title h1{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 63.84px;
    font-weight: 900;
    margin-bottom: 14px;
}
.habit-title p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 18.62px;
    font-weight: 400;
}
.to-do{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.to-do >div{
    width: 307.23px;
    height: auto;
    text-align: center;
}
.to-do>div>img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-bottom: 30px;
}
.to-do>div>h1{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 6px;
}
.to-do>div>p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 18.62px;
    font-weight: 400;
}
/* mile section */
.mile-container{
    margin: 0 auto;
    width: 80%;
    height: auto;
    padding: 30px 32px 30px 50px;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mile-description{
    width: 589.1px;
    height: 385.7px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
}
.mile-description h1{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 63.84px;
    font-weight: 900;
}
.mile-description p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 18.62px;
    font-weight: 400;
    letter-spacing: 0.3px;
    line-height: 30px;
    margin-top: -10px;
}
.mile-description button{
    width: 297.92px;
    height: 71.82px;
    padding: 16px 40px 16px 40px;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
}
.running-img{
    width: 486.78px;
    height: 414.96px;
    border-radius: 18px;
    object-fit: none;
    object-position: 70% 25%;
}
/* Training & exercises section */

.trainig-exercises{
    width: 80%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 88px;
    margin-top: 50px;
}
.training-title{
    text-align: left;
    width: 892.43px;
    margin-bottom: 60px;
}
.training-title h1{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size:63.84px;
    font-weight: 900;
    line-height: 120%;
    margin-bottom: 15px;;
}
.training-title p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 18.62px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
}
.row-1{
    width: 100%;
    height:267px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 0.45fr 1fr 0.50fr;
    gap: 0;
}
.row-1 div{
    background-size: cover;
    position: relative;
}
.img1{
    background-color: aquamarine;
    background-blend-mode: multiply;
}
.img1 p{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18.62px;
    font-weight: 500;
    position: absolute;
    bottom: 30px;
    left: 25px;
}
.img2{
    background-color: rgba(253, 55, 88, 0.592);
    background-blend-mode: multiply;
    background-position:0% 60%;
}
.img2 p{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18.62px;
    font-weight: 500;
    position: absolute;
    top: 30px;
    left: 25px;
}
.img3{
    background-color: rgba(0, 0, 0, 0.326);
    background-blend-mode: multiply;
    background-position:40% 100%;
}
.img3 p{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18.62px;
    font-weight: 500;
    position: absolute;
    bottom: 30px;
    left: 25px;
}
.row-2{
    width: 100%;
    height:267px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 0.60fr 0.70fr;
    gap: 0;
}
.row-2 div{
    background-size: cover;
    position: relative;
}
.img4{
    background-color: rgba(0, 0, 0, 0.558);
    background-blend-mode: multiply;
    background-position:0% 40%;
}
.img4 p{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18.62px;
    font-weight: 500;
    position: absolute;
    top: 30px;
    right: 25px;
}
.img5{
    background-color: rgba(85, 255, 0, 0.463);
    background-blend-mode: lighten;
    background-position:0% 60%;
}
.img5 p{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18.62px;
    font-weight: 500;
    position: absolute;
    bottom: 30px;
    left: 25px;
}
.img6{
    background-color: rgba(0, 34, 255, 0.526);
    background-blend-mode: multiply;
    background-position:40% 100%;
}
.img6 p{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18.62px;
    font-weight: 500;
    position: absolute;
    bottom: 30px;
    left: 25px;
}

/* BMI section */
.bmi-title{
    width: 892.43px;
    height: 159.6px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.bmi-title h1{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 63.84px;
    font-weight: 900;
    line-height: 120%;
    text-align: left;
}
.bmi-title p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 18.62px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: left;
}
.bmi-chart-calculator{
    width: 100%;
    height: 647.71px;
    background-color: rgb(34, 34, 34);
    margin-bottom: 100px;
    background-size: cover;

}
.chart-calculator-container{
    margin: 0 auto;
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}
.bmi-chart{
    width: auto;
    height: auto;
    text-align: center;
}
.bmi-h1{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 37.24px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    margin-bottom: 52px ;
}
.bmi-chart table,td,th{
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
    padding: 15px 18px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size:21.28px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0%;
}
table{
    width: 100%;
    height: 287.28px;
}
td{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 18.62px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
}
.bmi-calculator{
    width: 767.41px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.bmi-cal-title h1{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size:37.24px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 14px;
}
.bmi-cal-title p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 18.62px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: left;
    margin-bottom: 30px;
}
.input-field{
    gap: 10px;
    margin-bottom: 38px;
    width: 100%;
}
.input-row1{
    display: flex;
    gap: 10px;
}
.input-row1 input{
    width: 50%;
}
.input-row2{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
.input-row2 input{
    width: 50%;
}
.input-row2 select{
    width: 50%;
}
.input-row3{
    margin-top: 10px;
}
.input-row3 select{
    width: 100%;
}
input{
    height: auto;
    border: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    text-align: left;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 21.28px;
    padding: 20px 20px 20px 20px;
}
.input-field input::placeholder{
    color: rgba(255, 255, 255, 0.6);
    font-family: Inter;
    font-size: 21.28px;
    font: weight 400px; ;
    align-items: center;
}
select{
    height: auto;
    border: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
    font-family: Inter;
    font-size: 21.28px;
    font-weight: 400;
    text-align: left;
    padding: 20px 20px 20px 20px;
}
select > option{
    background: rgba(0, 0, 0, 0.863);
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 21.28px;
    font-weight: 400;
}
.bmi-calculator button{
    width: 297.92px;
    height: 71.82px;
    padding: 16px 40px 16px 40px;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 23.94px;
    font-weight: 600;
    line-height: 22px;
}

/* Our team section */
.team-container{
    height: 1040px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 88px;
}
.team-title{
    width: auto;
    height: auto;
    text-align: center;
    margin-bottom: 58px;
}
.team-title h1{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 63.84px;
    font-weight: 900;
    line-height: 120%;
    margin-bottom: 14px;
}
.team-title p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 18.62px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
}
.team-members{
    height: auto;
    width: auto;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 26px 26px;
    padding: 26px;
}
.trainers{
    background-size: cover;
    width: 434.47px;
    height: 361.76px;
    border-radius: 18px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.209);
    background-blend-mode:overlay;
}
.trainers h4{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 26.6px;
    font-weight: 900;
    line-height: 120%;
    text-align: left;
    position: absolute;
    bottom:45px;
    left:20px;
}
.trainers p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 18.62px;
    font-weight: 400;
    line-height: 120%;
    text-align: left;
    position: absolute;
    bottom: 20px;
    left: 20px;
}

/* Our plan section */
.our-plans-container{
    height: auto;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 100px;
    margin-top: 50px;
}
.our-plans-container h1{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 63.84px;
    font-weight: 900;
    line-height: 120%;
    text-align: center;
    margin-bottom: 50px;
}
.our-plans{
    height: auto;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}
.premium-plan>ul{
    list-style-type: none;
    padding-bottom: 17px;
}
.basic-plan>ul{
    padding-bottom: 107px;
}
.plans{
    width: 70%;
    height: auto;
    border: 5px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 30px;
    list-style-type: none;
    margin: 0 auto;
}
.plans>ul{
    list-style-type: none;
}
fieldset{
    width: 75%;
    height: auto;
    border: 5px solid rgb(226, 97, 77);
    border-radius: 10px;
    padding: 30px;
    text-align: left;
    margin-top: -13px;
    padding-top: 20px;
    padding-bottom: 30px;
}
legend{
    background-color: rgb(230, 83, 60);
    border-radius: 30px;
    text-align: center;
    padding: 5px 10px;
}
.plans-title{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 26.6px;
    font-weight: 700;
    line-height: 120%;
    text-align: center;
}
.plans-price{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 18.62px;
    font-weight: 400;
    line-height: 120%;
    text-align: center;
    margin-bottom: 10px;
}
.plans-price>span{
    color: rgb(233, 100, 80);
    font-family: Inter;
    font-size: 35.6px;
    font-weight: 800;
    line-height: 120%;

}
.plans-discription{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 16.6px;
    font-weight: 600;
    line-height: 120%;
    text-align: left;
    margin: 20px 0px;
}
.plans-discription li{
    margin-bottom: 10px;
}
.plans-discription i {
    color: rgb(238, 123, 106);
}
.plans-btn{
    width: 100%;
    height: 54px;
    padding: 16px 40px 16px 40px;
    color: white;
    background-color: rgb(233, 100, 80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: center;
    border-radius: 45px;
    border: none;
}

/* Footer Section */
footer{
    width: 100%;
    height: auto;
    background: rgba(255, 255, 255, 0.1);
}
.footer-section{
    width: 80%;
    height: auto;
    margin: 0 auto;
    padding-top: 66px;
}
.footer-container{
    width: 100%;
    height: auto;
    margin-bottom: 79px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.footer-fitness{
    max-width: 500px;
    height: auto;
}
.footer-fitness h3{
    color: rgb(230, 83, 60);
    font-family: Inter;
    font-size: 93.1px;
    font-weight: 800;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 20px;
}
.footer-fitness p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 18.62px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: left;
}
.get-started{
    width: 240.73px;
    height: 331.17px;
}
.get-started h2{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size:42.56px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: justify;
    margin-bottom: 39px;
}
.get-started p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 30px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 20px;
}
.reserved{
    width: 100%;
    height: auto;
    border-top: 2px solid rgba(255, 255, 255, 0.1);
}
.reserved p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 26.6px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: center;
    padding: 36px 0px;
}

/* Responsive for mobile */

@media screen and (max-width:600px) {
    header,
    .to-do,
     .mile-container,
     .bmi-chart-calculator{
        height: auto;
    }
    nav{
        width: 95%;
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .nav-opt{
        display: none;
    }
    .menu-icon{
        display: block;
    }
    .menu-icon i{
        font-size: 30px;
    }
    .hero-container,
    .to-do,
    .trainig-exercises,
    .chart-calculator-container,
    .footer-container
    {
        flex-direction: column;
        width: 95%;
        gap: 20px;
    }
    .hero-txt{
        height: auto;
        margin-bottom: 30px;
    }
    .hero-txt h1,
    .habit-title h1,
    .mile-description h1,
    .training-title h1,
    .bmi-title h1{
        font-size: 48.88px;
    }
    .shape{
        font-size: 97.76px;
    }
    .club{
        display: none;
    }
    .hero-buttons{
        justify-content: space-around;
    }
    .download{
        padding: 0px 10px 0px 10px;
    }
    .hero-img{
        left: 0;
    }
    .watch-count-2{
        font-size: 40px;
    }
    .workout-vdo{
        padding: 16px 20px;
        top: 65px;
        right: 25px;
    }
    .workout-video{
        font-size: 13px;
        margin-top: 2px;
    }
    .vdo-tutorial{
        padding: 15px 17px;
        top: 350px;
        left: 17px;
    }
    .watch-count{
        font-size: 24 px;
    }
    .tutorial{
        font-size: 16px;
    }
    .habit-title{
        height: auto;
        width: 100%;
        margin-bottom: 50px;
    }
    .mile-container{
        padding: 33px 35px;
        height: auto;
        flex-direction: column;
        margin-top: 1350px;
        position: relative;
    }
    .mile-description{
        width: 100%;
        margin-bottom: 30px;
    }
    .mile-description button,
    .bmi-calculator button{
        width: 100%;
    }
    .running-img{
        width: 100%;
        height: 226.1px;
        object-fit: cover;
    }
    .training-title{
        width: auto;
    }
    .img2{
        background-position:70% 10%;
    }
    .img3{
        display: none;
    }
    .img4{
        background-position: 40%;
    }
    .img6{
        display: none;
    }
    .row-1{
        grid-template-columns: 1fr 1fr;
        height: 200px;
    }
    .row-2{
        grid-template-columns: 0.80fr 1fr;
        height: 200px;
    }
    .bmi-title{
        width: auto;
    }
    .bmi-chart{
        margin-top: 30px;
        width: 90%;
    }
    .bmi-calculator{
        width: 90%;
        margin-bottom: 30px;
    }
    .team-title{
        margin-bottom: 30px;
    }
    .team-members{
        grid-template-columns: 1fr;
    }
    .our-plans-container{
        width: 90%;
        height: auto;
        margin-top: 1650px;
    }
    .our-plans{
        flex-direction: column;
    }
    .footer-fitness{
        max-width: 100%;
    }
}